.btn {
    padding: 9px 20px;
    box-shadow: 0 0 0 3em $main-color inset;
    border-radius: 50px;
    cursor: pointer;
    @include text-style ($fs-1, $fw-2, $white-color);
    outline: none;

&:hover,
&:focus {
    border: 1px solid $main-color;
    box-shadow: 0 0 0 0em #b61984 inset;
    transition: all 0.4s ease;
    @include text-style ($fs-1, $fw-2, $main-color);




}
}


