.main > .bg-wrapper {
    position: absolute;

    .bg__top img{
        width: 1900px;
    }

    .bg__top {
        img {
            &:first-of-type {
                width: 100vw;
                object-fit: cover;
                object-position: center;
            }

        }

    }

    .bg__bottom {
        img {
            &:last-of-type {
                position: absolute;
                top: 80%;
                width: 100vw;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}


#teacher .bg-wrapper {
    position: absolute;
    bottom: 0;
    img {
        width: 100vw;
    }
}

//Responsive

//For tablet
@include responsive ("extra-large-down") {
    .main > .bg-wrapper {
    
        .bg__bottom {
            img {
                &:last-of-type {
                    top: 720px;
                }
            }
        }
    }
}

//For mobile
@include responsive ("medium-down") {
    .main > .bg-wrapper {
    
        .bg__bottom {
            img {
                &:last-of-type {
                    top: 670px;
                }
            }
        }
    }
}